<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abedkhan.todoly">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TODOLY"
        tools:targetApi="31">
        <activity
            android:name=".AllTodo"
            android:exported="false" />
        <activity
            android:name=".ViewTodo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".EditTodo"
            android:exported="false" />
        <activity
            android:name=".health"
            android:exported="false" />
        <activity
            android:name=".shopping"
            android:exported="false" />
        <activity
            android:name=".personal"
            android:exported="false" />
        <activity
            android:name=".work"
            android:exported="false" />
        <activity
            android:name=".Addtodo"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>